.height-login {
  height: 100vh !important;
}

.user_card {
  height: auto;
  width: 500px;
  margin-top: 90px;
  margin-bottom: auto;
  background: springgreen;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: springgreen;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid white;
}
.form_container {
  margin-top: 100px;
}

.login_btn {
  width: 100%;
  background: azure;
  color: steelblue;
}
.login_btn:hover {
  background: steelblue;
  color: azure;
}
.login_btn:focus {
  box-shadow: none;
  outline: 0px;
}
.login_btn:disabled {
  cursor: default;
  background: azure;
  color: steelblue;
}
.login_container {
  padding: 0 2rem;
}

.input_registry {
  width: 400px;
}

.message-size-sm {
  font-size: 14px;
}
