.head {
  margin: 3px;
  background-color: springgreen;
  color: white;
  height: 60px;
}

.perros {
  border-color: azure;
  color: azure;
}

.perros:hover {
  background: azure;
  color: springgreen;
}
